@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-light-grey text-text-dark font-sans; /* Using Tailwind's @apply for base body styles */
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* You can add other global base styles here using @apply or plain CSS if needed */
a {
  @apply text-primary-green hover:underline;
}
